.hero{
    height:100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(15px, 3vw, 20px);
    text-align: left;
    padding-left: clamp(20px, 6vw, 50px);
    line-height: 1.1;
       
}
.hero-left h2{
    color:#090909;
    font-size: clamp(20px, 3.5vw, 26px);
    font-weight:600;
    }
.hero-left p{
    color:#171717;
    font-size: clamp(30px, 9vw, 70px);
    font-weight:700;
    }
.hand-hand-icon{
  display:flex;
  align-items:center;
  gap: clamp(10px, 2.5vw, 20px);
}
.hand-hand-icon img{
   width: clamp(50px, 13vw, 105px);
}
.hero-latest-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0px, 2vw, 15px);
    width: clamp(180px, 40vw, 310px);
    height: clamp(50px, 8vw, 70px);
    border-radius: 75px;
    margin-top: clamp(0px, 4vw, 30px);
    background: #ff4141;
    color: white;
    font-size: clamp(15px, 3vw, 22px);
    font-weight: 500;
}

.hero-right img{
    width: clamp(300px, 50vw, 500px);
    max-width: 100%;
    height: auto;
}

@media (max-width:750px){
.hero{
    height: clamp(70vh, 90vh, 80vh);
    justify-content: space-around;
}

.hero-left{
    gap: clamp(12px, 2.5vw, 18px);
    padding-left: 0px;
}
.hero-left h2{
    font-size: clamp(18px, 3vw, 20px);
}
.hero-left p{
    font-size: clamp(25px, 5vw, 30px);
}
.hand-hand-icon{
    gap: clamp(8px, 1.5vw, 10px);
}
.hand-hand-icon img{
    width: clamp(40px, 7vw, 50px);
}
.hero-latest-btn{
    width: clamp(160px, 25vw, 180px);
    height: clamp(45px, 7vw, 50px);
    margin-top: 0px;
    font-size: clamp(14px, 2.5vw, 15px);
}
.hero-right img{
    width: clamp(250px, 40vw, 300px);
}
}